.nav-bar {
    background-color: rgb(52,73,94);
    padding-top: 3%;
    padding-bottom: 3%;
}

.vertical-line {
    border-left: 0.5vw solid turquoise;
    height: 1vw;
}

span {
    padding-right: 2%;
}

button {
    cursor: pointer;
    outline: 0;
    margin: 0;
    padding-left: 1%;;
    padding-right: 1%;
    font-size: 1.1vw;
    font-family: Consolas;
    color: #ffffff;
    border: none;
    background-color: rgb(52,73,94);
}    
:hover {
    color: rgb(255,192,203) !important;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 1vw;
    width: 1.5vw;
    height: 1.5vw;
    background: turquoise;
}

.slider {
    width: 7vw;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    border: solid 1px turquoise;
    height: 0.5vw;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
:hover {
    opacity: 1;
}

.array-bar {
    display: inline-block;
    margin: 0 0.05vw;
}

.value {
    color: #000000;
    font-size: 0px;
    font-family: Consolas;
}